<div id="transparencia" class="transparencia card m-b-48">
    <div class="card-titulo">Transparência</div>
    <div class="card-conteudo row">
        <ul class="card-media-lista">
            <li class="media-lista-item row p-0">
                <div class="lista-item-image col-xs-4 p-0 m-r-16">
                <img src="<%= require('assets/img/transparencia/pessoas.png') %>"
                        srcset="<%= require('assets/img/transparencia/pessoas@2x.png') %> 2x"  alt="">
                </div>
                <div class="lista-item-texto col-xs-8 p-0">
                <h4 class="m-0"><strong>Gestão de Pessoas</strong></h4>
                <a id="transparencia-gestao-pessoas" href="http://www.stf.jus.br/portal/remuneracao/pesquisarRemuneracao.asp" target="_blank">Remuneração, Servidores, Membros do Tribunal, Magistrados Convocados, Indenizações, etc.</a>
                </div>
            </li>

            <li class="media-lista-item row p-0">
                <div class="lista-item-image col-xs-4 p-0 m-r-16">
                <img src="<%= require('assets/img/transparencia/licitacoes.png') %>"
                        srcset="<%= require('assets/img/transparencia/licitacoes@2x.png') %> 2x"  alt="">
                </div>
                <div class="lista-item-texto col-xs-8 p-0">
                <h4 class="m-t-0"><strong>Licitações</strong></h4>
                <a id="transparencia-licitacoes" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoLicitacaoContrato" target="_blank">Concursos, Concorrência, Convites, Credenciamento, Leilão, Pregão, Tomada de preços.</a>
                </div>
            </li>

            <li class="media-lista-item row p-0">
                <div class="lista-item-image col-xs-4 p-0 m-r-16">
                <img src="<%= require('assets/img/transparencia/orcamento.png') %>"
                        srcset="<%= require('assets/img/transparencia/orcamento@2x.png') %> 2x"  alt="">
                </div>
                <div class="lista-item-texto col-xs-8 p-0">
                <h4 class="m-t-0"><strong>Orçamento e Finanças</strong></h4>
                <a id="transparencia-orcamento" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoOrcamentaria" target="_blank">Compras, Despesas, Consumo, Contratos, Execução orçamentária, Dados diários de despesas.</a>
                </div>
            </li>

            <li class="media-lista-item row m-0 p-0">
                <div class="lista-item-image col-xs-4 p-0 m-r-16">
                <img src="<%= require('assets/img/transparencia/sobre.png') %>"
                        srcset="<%= require('assets/img/transparencia/sobre@2x.png') %> 2x"  alt="">
                </div>
                <div class="lista-item-texto col-xs-8 p-0">
                <h4 class="m-t-0"><strong>Conheça mais sobre o STF</strong></h4>
                <a id="transparencia-sobrestf" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoPessoa" target="_blank">Composição do STF, Estatísticas Processuais, Serviços ao Cidadão, Estratégia Institucional e História.</a>
                </div>
            </li>
        </ul>
        <div class="col-md-2"></div>
        <div class="col-md-8 p-0">
            <a id="transparencia-vermais" href="/transparencia" class="btn btn-fluid btn-upper btn-default-bordered btn-raised p-l-xs-8 p-r-xs-8">Ver o portal da transparência</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>