<div id="composicao" class="card m-b-48 ">
    <div class="card-titulo">Composição do Plenário do STF</div>
    <div class="card-conteudo row m-0 m-t-16 m-b-16 p-0">
        <div class="plenario-stf m-b-24">
            <div class="ministro-galeria2 text-center m-t-8">
            <div class="ministro-conteudo ministro-card presidente col-md-8">
                <div class="row">
                    <div class="col-md-6 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistraCarmenLucia&pagina=principal" target="_blank"><img width="200" height="210" src="<%= require('assets/img/fotos/carmen-lucia.jpg') %>"></a>
                    </div>
                    <div class="col-md-6 p-l-16">
                    <div class="lateral-vl">
                    </div>
                    <div class="vl lateral-vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistraCarmenLucia&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministra</p>
                        <strong>Carmen Lúcia</strong>
                        <p class="m-b-0">Presidente</p>
                        <p>(21/6/2006)</p>
                    </a>
                    </div>
                    <div class="lateral-vl">
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministros text-center">
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroCelsoMello&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/celso-de-mello.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroCelsoMello&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong>Celso de Mello</strong>
                        <p>(17/8/1989)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroMarcoAurelio&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/marco-aurelio.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroMarcoAurelio&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong class="">Marco Aurélio</strong>
                        <p class="">(13/6/1990)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroGilmarMendes&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/gilmar-mendes.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroGilmarMendes&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong>Gilmar Mendes</strong>
                        <p>(20/06/2002)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRicardoLewandowski&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/ricardo-lewandowski.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRicardoLewandowski&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong class="">Ricardo Lewandowski</strong>
                        <p class="">(16/3/2006)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div><div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroDiasToffoli&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/dias-toffoli.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroDiasToffoli&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong>Dias Toffoli</strong>
                        <p>(23/10/2009)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroLuizFux&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/luiz-fux.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroLuizFux&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong class="">Luiz Fux</strong>
                        <p class="">(3/3/2011)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistraRosaWeber&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/rosa-weber.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistraRosaWeber&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministra</p>
                        <strong>Rosa Weber</strong>
                        <p>(19/12/2011)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroAlexandreMorais&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/alexandre-de-moraes.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroAlexandreMorais&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong class="">Alexandre de Moraes</strong>
                        <p class="">(25/4/2017)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRobertoBarroso&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/roberto-barroso.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRobertoBarroso&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong>Roberto Barroso</strong>
                        <p>(26/6/2013)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="ministro-conteudo ministro-card col-md-5">
                <div class="row">
                    <div class="col-md-4 p-0 text-left">
                    <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroEdsonFachin&pagina=principal" target="_blank"><img width="114" height="120" src="<%= require('assets/img/fotos/edson-fachin.jpg') %>"></a>
                    </div>
                    <div class="col-md-8 p-l-16">
                    <div class="vl">
                        <a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroEdsonFachin&pagina=principal" target="_blank">
                        <p class="m-b-0">Ministro</p>
                        <strong class="">Edson Fachin</strong>
                        <p class="">(16/6/2015)</p>
                    </a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-md-6 col-lg-4">
        <div class="card-caixa-texto m-b-16">
            <h4 class="m-0 m-t-8 m-b-16">1º TURMA</h4>
            <ul>
            <li><a target="_blank" id="jurisprudencia-pp-ramo-direito" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroMarcoAurelio&pagina=principal">Ministro Marco Aurélio</a><p>PRESIDENTE</p></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroLuizFux&pagina=principal">Ministro Luis Fux</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistraRosaWeber&pagina=principal">Ministra Rosa Weber</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRobertoBarroso&pagina=principal">Ministro Luís Roberto Barroso</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroAlexandreMorais&pagina=principal">Ministro Alexandre de Moraes</a></li>
            </ul>
        </div>
        </div>
        <div class="col-md-6 col-lg-4">
        <div class="card-caixa-texto m-b-16">
            <h4 class="m-0 m-t-8 m-b-16">2º TURMA</h4>
            <ul>
            <li><a target="_blank" id="jurisprudencia-pp-ramo-direito" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroEdsonFachin&pagina=principal">Ministro Edson Fachin</a><p>PRESIDENTE</p></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroCelsoMello&pagina=principal">Ministro Celso de Mello</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroGilmarMendes&pagina=principal">Ministro Gilmar Mendes</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroRicardoLewandowski&pagina=principal">Ministro Ricardo Lewandowski</a></li>
            <li><a target="_blank" id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfMinistroDiasToffoli&pagina=principal">Ministro Dias Toffoli</a></li>
            </ul>
        </div>
        </div>
        <div class="col-md-12 col-lg-4 row m-0">
        <div class="col-md-6 col-lg-12 p-0 p-r-md-16">
            <div class="card-caixa-texto __fundo-cinza p-16 p-t-0 m-b-8">
            <h5 class="m-0 m-t-8 m-b-16"><strong>Histórico de presidentes</strong></h5>
            <p>Conheça os últimos presidentes do STF</p>
            <a id="ostf-historico-presidentes" class="btn btn-default-bordered btn-raised btn-fluid btn-upper" target="_blank" href="//www.stf.jus.br/portal/ministro/listarPresidente.asp">Conhecer</a>
            </div>
        </div>
        </div>
        <div class="col-md-12 col-lg-4 row m-0">
        <div class="col-md-6 col-lg-12 p-0 p-r-md-16">
            <div class="card-caixa-texto __fundo-cinza p-16 p-t-0 m-b-8">
            <h5 class="m-0 m-t-8 m-b-16"><strong>Histórico de composições</strong></h5>
            <p>Conheça as últimas formações do STF</p>
            <a id="ostf-historico-composicoes" class="btn btn-default-bordered btn-raised btn-fluid btn-upper" target="_blank" href="//www.stf.jus.br/portal/composicaoPlenaria/composicaoPlenariaAnterior.asp">Conhecer</a>
            </div>
        </div>
        </div>
    </div>
</div>