<div class="contato card m-b-24" id="contato">
    <div class="card-titulo">Canais de atendimento</div>
    <div class="card-conteudo">
      <ul class="card-media-lista">
        <li class="media-lista-item row p-0">
          <div class="lista-item-image col-xs-4 p-0 m-r-16">
            <img src="<%= require('assets/img/transparencia/licitacoes.png') %>" alt="">
          </div>
          <div class="lista-item-texto col-xs-8 p-0">
            <h4 class="m-0"><strong>Atendimento ao Advogado</strong></h4>
            <a id="canais-advogado" target="_blank" href="http://www.stf.jus.br/portal/atendimentoStf/apresentacao.asp">Peticionamento, carga programada, guia do advogado, pedido de certidão e mais...</a>
          </div>
        </li>
        <li class="media-lista-item row p-0">
          <div class="lista-item-image col-xs-4 p-0 m-r-16">
            <img src="<%= require('assets/img/transparencia/pessoas.png') %>" alt="">
          </div>
          <div class="lista-item-texto col-xs-8 p-0">
            <h4 class="m-0"><strong>Central do Cidadão</strong></h4>
            <a id="canais-central-cidadao" href="../textos/verTexto.asp?servico=centralDoCidadaoAcessoInformacao">Estatísticas, Acompanhamento processual, cópia de processos, Formulário de contato e mais...</a>
          </div>
        </li>
        <li class="media-lista-item row p-0">
          <div class="lista-item-image col-xs-4 p-0 m-r-16">
            <img src="<%= require('assets/img/transparencia/plantao.png') %>" alt="">
          </div>
          <div class="lista-item-texto col-xs-8 p-0">
            <h4 class="m-0"><strong>Plantão Judicial</strong></h4>
            <a id="canais-plantao-judicial" href="../textos/verTexto.asp?servico=processoPeticaoEletronicaPlantao">Como funciona?</a>
          </div>
        </li>
      </ul>
    </div>
  </div>