    <div id="noticias" class="noticias m-b-48">

      <div class="card-lt-md card-xs noticia  p-l-8 p-r-8 m-0 m-b-24 row">
        <h3 class="noticia-titulo principal p-l-0 p-r-0 m-t-8 m-b-0"><a class="principal" href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">AGE apresenta resultados estratégicos de 2016 e os parciais deste ano</a></h3>
        <div class="col-md-6 hidden-xs hidden-sm p-0">
          <div class="noticia-imagem hidden-xs">
            <img src="<%= require('assets/img/noticias/Rae04-324x235.jpg') %>" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-md-6 p-0">
          <div class="noticia-categoria p-l-0 p-r-16">Planejamento <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">15/11/2017 09:00</span></div>
          <p class="noticia-resumo p-l-0 p-r-16">Nesta segunda-feira (26), foi realizada a Reunião de Avaliação da Estratégia Global – RAE do Planejamento Estratégico PE/STF – rumo a 2020.</p>
          <div class="noticia-imagem-xs visible-xs visible-sm">
              <img src="<%= require('assets/img/noticias/biblioteca.jpg') %>" alt="">
          </div>
          <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
        </div>
      </div>

      <div class="card-lt-md card-xs  p-l-8 p-r-8 noticia m-b-24 row m-0">
        <div class="col-md-6 p-0">
          <div class="noticia-imagem hidden-xs">
              <img src="<%= require('assets/img/noticias/biblioteca.jpg') %>" alt="">
          </div>
          <br>
          <div class="col-md-12 p-0">
            <div class="noticia-categoria p-l-0 p-r-16">Inclusão <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">01/11/2017 00:00</span></div>
            <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Deficientes visuais conhecem novas ferramentas de leitura da biblioteca do Supremo</a></h3>
            <p class="noticia-resumo p-l-0 p-r-16">Cerca de 10 adultos, do Centro de Ensino Especial de Deficientes Visuais (CEEDV), participaram na manhã desta segunda-feira (26) de uma atividade inclusiva na Biblioteca Ministro Victor Nunes Leal.</p>
            <div class="noticia-imagem-xs visible-xs visible-sm">
              <img src="//fakeimg.pl/330x190/" alt="">
            </div>
            <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="noticia-imagem hidden-xs">
              <img src="<%= require('assets/img/noticias/Arraiadosbebes.jpg') %>" alt="">
          </div>
          <br>
          <div class="col-md-12 p-0">
            <div class="noticia-categoria p-l-0 p-r-16">Comemoração <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">27/10/2017 00:00</span></div>
            <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Arraiá do berçário esbanjou fofura no STF</a></h3>
            <p class="noticia-resumo p-l-0 p-r-16">Hoje (23), aconteceu o Arraiá do Bebês, no STF. No clima de festa junina, os bebês aproveitaram a festa com suas mamães, todos vestidos a caráter. </p>
            <div class="noticia-imagem-xs visible-xs visible-sm">
              <img src="//fakeimg.pl/330x190/" alt="">
            </div>
            <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
          </div>
        </div>
      </div>

      <div class="card-lt-md card-xs  p-l-8 p-r-8 noticia m-b-24 row m-0">
        <div class="col-xs-12 p-0">
          <div class="noticia-categoria p-l-0 p-r-16">Destaque, Geral <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">17/11/2017 19:18</span></div>
          <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Confira o funcionamento e os prazos do STF em julho</a></h3>
          <p class="noticia-resumo p-l-0 p-r-16">O atendimento ao público externo e o expediente na Secretaria do Tribunal, durante o mês de julho, serão das 13h às 18h.</p>
          <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
        </div>
      </div>
    </div>
    <div id="acessar-portal-noticias" class="row m-0 m-r-8 m-l-8 m-b-48">
      <div class="col-md-2 p-0"></div>
      <div class="col-md-8 p-0">
        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid" type="button" id="btnAcessarPortalNocicitas">Acessar o portal de notícias</button>
      </div>
      <div class="col-md-2 p-0"></div>
    </div>