<div class="nav">
    <div class="navbar navbar-default navbar-fixed-top">
        <section class="menu-acessibilidade row p-0 m-0">
        <div class="container p-xs-0">
            <div class="hidden-xs col-sm-3 col-lg-6 p-0">
            <div class="acessibilidade">
                <div class="m-l-0">Acessibilidade</div>
                <div>
                <a href="#" id="alto-contraste" title="Alto contraste"><i class="glyphicon glyphicon-adjust"></i></a>
                </div>
                <div class="hidden-sm hidden-md">Ir para:</div>
                <ul class="atalhos hidden-sm hidden-md">
                <li><a accesskey="1" href="#conteudo" id="conteudo-acessibilidade"><span>1</span> conteúdo</a></li>
                <li><a accesskey="2" href="#menu-principal" id="menu-acessibilidade"><span>2</span> menu</a></li>
                <li><a accesskey="3" href="#pesquisa" id="busca-acessibilidade"><span>3</span> busca</a></li>
                <li><a accesskey="4" href="#rodape" id="rodape-acessibilidade"><span>4</span> rodapé</a></li>
                </ul>
            </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-lg-6 p-0">
            <div class="col-xs-8 col-sm-9">
                <div class="col-xs-4 col-md-6">
                <div class="dropdown menu-internacionalizacao dropdown-toggle">
                    <button class="btn btn-default " type="button" id="internacionalizacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="hidden-xs hidden-sm">International Relations</span>
                    <img src="<%= require('assets/img/internacional/usa-flag.png') %>"
                    srcset="<%= require('assets/img/internacional/usa-flag.png') %> 2x" alt="English">
                    <i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="internacionalizacao">
                    <li><a href="//www2.stf.jus.br/portalStfInternacional/cms/verPrincipal.php?idioma=en_us" target="_blank"><img src="<%= require('assets/img/internacional/usa-flag.png') %>"
                    srcset="<%= require('assets/img/internacional/usa-flag.png') %> 2x" alt="English"> English</a></li>
                    <li><a href="//www2.stf.jus.br/portalStfInternacional/cms/verPrincipal.php?idioma=es_es" target="_blank"><img src="<%= require('assets/img/internacional/spain-flag.png') %>"
                    srcset="<%= require('assets/img/internacional/spain-flag.png') %> 2x" alt="Español"> Español</a></li>
                    <li><a href="//www2.stf.jus.br/portalStfInternacional/cms/verPrincipal.php?idioma=pt_br" target="_blank"><img src="<%= require('assets/img/internacional/brazil-flag.png') %>"
                    srcset="<%= require('assets/img/internacional/brazil-flag.png') %> 2x" alt="Português"> Portuguese</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-3 link-borda-direita">
                <div class="dropdown menu-servidores dropdown-toggle">
                    <button class="btn btn-default " type="button" id="servidores" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="item-servidores">Servidores</span>
                    <i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="servidores">
                    <li class="dropdown-header">Financeiro</li>
                    <li><a id="servidor-contracheque" href="https://servidor.stf.jus.br/iRH" target="_blank">Contracheque</a></li>
                    <li><a id="servidor-margem" href="https://www2.econsig.com.br/stf/login/login_servidor.jsp#no-back" target="_blank">Margem Consignável</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Saúde</li>
                    <li><a id="servidor-plano-saude" href="http://saude.stf.jus.br/" target="_blank">Plano de Saúde</a></li>
                    <li class="divider"></li>
                    <li><a id="servidor-ead" href="https://ead.stf.jus.br/" target="_blank">Educação a distância (EaD)</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Ferramentas de trabalho</li>
                    <li><a id="servidor-gabinete" href="https://gabinetevirtual.stf.jus.br/" target="_blank">Gabinete Virtual</a></li>
                    <li><a id="servidor-correio-eletronico" href="https://correio.stf.jus.br/" target="_blank">Correio Eletrônico</a></li>
                    <li class="divider"></li>
                    <li><a id="servidor-imprensa" href="http://cliente.linearclipping.com.br/stf/" target="_blank">Destaques do STF na imprensa</a></li>
                    <li><a id="ponto-eletronico" href="https://sistemas.stf.jus.br/pontoeletronico" target="_blank">Ponto Eletrônico</a></li>
                    </ul>
                </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-3 link-borda-direita">
                <a id="contato-topo" href="//www.stf.jus.br/portal/centralDoCidadao/enviarDadoPessoal.asp" target="_blank" class="btn btn-default">Fale conosco</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 telefone-stf link-borda-direita"><i class="glyphicon glyphicon-earphone"></i> <a href="tel:+556132173000">(61) 3217-3000</a></div>
            </div>
        </div>
        </section>
    
        <nav id="header" class="header navbar navbar-default">
            <div class="container center-block row p-0 m-t-8 m-b-8"  >
                <div class="navbar-header col-xs-12 row m-0">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
                    <span class="sr-only">Abrir menu principal</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="hidden">Supremo Tribunal Federal</h1>
                <a href="/" class="navbar-brand m-0">
                    <img src="<%= require('assets/img/institucional/logo-STF.png') %>"
                        srcset="<%= require('assets/img/institucional/logo-STF@2x.png') %> 2x" alt="Supremo Tribunal Federal">
                </a>
                <div id="menu-principal" class="collapse navbar-collapse col-xs-12 col-md-7 navbar-left m-0 p-0">
                    <div class="row col-xs-12 m-0 p-0">
                    <ul class="nav navbar-nav m-0 p-0">
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="servicos">Serviços</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="servicos">
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Gerais</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Saúde</a></li>
                                    <li><a href="#">Deslocamentos</a></li>
                                    <li><a href="/alternativo">...</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ministros</a></li>
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Servidores</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ponto eletrônico</a></li>
                                    <li><a href="#">Saúde</a></li>
                                    <li><a href="#">Avaliação</a></li>
                                    <li><a href="alternativo">...</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Terceirizados</a></li>
                            <li><a href="#">Estagiários</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="sistemas">Sistemas</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="sistemas">
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Judicial</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                    <a href="#">Gabinetes</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Interno</a></li>
                                        <li><a href="#">Externo</a></li>
                                        <li><a href="#">Ambos</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="#">Área meio judicial</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Administrativo</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Interno</a></li>
                                    <li><a href="#">Externo</a></li>
                                    <li><a href="#">Ambos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Corporativo</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Interno</a></li>
                                    <li><a href="#">Externo</a></li>
                                    <li><a href="#">Ambos</a></li>
                                </ul>
                            </li>
                            </ul>
                        </li>
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="noticias">Notícias</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="noticias">
                            <li><a href="#">Setorizadas</a></li>
                            <li><a href="#">Geral</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="acervo">Acervo</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="acervo">
                            <li><a href="#">Jurisprudência</a></li>
                            <li><a href="#">Atos Normativos</a></li>
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Procedimentos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Setorizado</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Imagens</a></li>
                            <li class="dropdown-submenu dropdown-toggle" data-toggle="dropdown">
                                <a href="#">Modelos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Administrativo</a></li>
                                    <li><a href="#">Judiciário</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Áudio</a></li>
                            <li><a href="#">Vídeo</a></li>
                            <li><a href="#">...</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="estrutura_organizacional">Estrutura Organizacional</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        </li>
                        <li class="dropdown-toggle container-dropdown-lateral">
                        <a href="#" id="agenda">Agenda</a>
                        <button type="button" class="btn btn-default btn-caret dropdown-lateral visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="agenda">
                            <li><a href="#">Interno</a></li>
                            <li><a href="#">Externo</a></li>
                            <li><a href="#">Serviços</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3 pull-right pesquisa-alternativa">
                        <div class="row m-0 p-0">
                            <div class="col-xs-10 p-0">
                                <input type="text" name="pesquisa_classificados" id="pesquisa_classificados" placeholder="Pesquisar...">
                            </div>
                            <!-- <div id="botao-pesquisa-classificados" class="col-xs-2 p-0">
                            <button form="pesquisa-processo-classificados" class="btn btn-icone" id="btnPesquisarclassificados">
                                <i class="icone glyphicon glyphicon-search"></i>
                            </button>
                            </div> -->
                        </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</div>
      