<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header-alternativo.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 p-t-8 m-t-96 m-r-8 m-l-8">
      <div class="row container center-block p-0 m-t-16">
          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8">
            <%- include src/includes/card-noticias.html %>

          </div>  
        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">

          <%- include src/includes/card/expressas.html %> 
            
          <%- include src/includes/card/cursos-e-palestras.html %>

          <%- include src/includes/card/classificados.html %>

        </div>
      </div>
<!-- Nova seção -->
      <div class="row container center-block p-0">
          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8">
              <%- include src/includes/card/colunas.html %>

              <%- include src/includes/card-numerosSTF.html %>
  
              <%- include src/includes/card-jurisprudencia-do-stf.html %>
  
              <%- include src/includes/card-estatisticasProcessuais.html %>

          </div>  
          <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
            <%- include src/includes/card-banners-qlik.html %>

            <%- include src/includes/card-supremo-em-acao.html %>

            <%- include src/includes/card-tv-justica.html %>

            <%- include src/includes/card-radio-justica.html %>

        </div>  

      </div>

      <div class="row container center-block p-0">
        <div class="col-md-12 row m-0 p-xs-0 p-sm-8">
            <%- include src/includes/card-transparencia.html %>
        </div>
      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>

  </div>
</body>
</html>
