.__fundo-escuro {
  background: $stfAzulEscuro !important;
  color: $stfBranco !important;
  a {
    color: $stfBranco;
  }
}

.__fundo-azul {
  background: $stfAzulClaro !important;
  color: $stfBranco !important;
  a {
    color: $stfBranco;
  }
}

.__fundo-transparente {
  background: transparent !important;
}

.__fundo-amarelo-claro {
  background: $stfAmareloClaro !important;
  color: $stfAzul !important;
}

.__fundo-cinza {
    background: $stfCinzaClaro !important;
    color: $stfPreto !important;
}