.__stf-azul-escuro {
  color: $stfAzulEscuro !important;
}

.__stf-azul-hover {
  color: $stfAzulHover !important;
}

.__stf-azul {
  color: $stfAzul !important;
}

.__stf-azul-claro {
  color: $stfAzulClaro;
}

.__stf-cinza{
  color: $stfCinza;
}

.__stf-branco {
  color: $stfBranco;
}

.__stf-verde {
  color: $stfVerde;
}