<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body class="pagina-interna">
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa-lista.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 m-r-8 m-l-8">
      <div class="row container center-block p-0">
        <!--Menu Lateral-->
        <div class="col-xs-12 col-sm-3 col-lg-2 p-16 p-xs-0 m-0">
          <div class="menu-lateral hidden-xs">
            <h4><span class="__stf-verde">Imprensa</span></h4>
            <ul>
              <li><a href="#"><span class="opcao-selecionada">Notícias</span></a></li>
              <li><a href="#">Coberturas especiais</a></li>
              <li><a href="#">TV Justiça</a></li>
              <li><a href="#">Rádio Justiça</a></li>
              <li><a href="#">Banco de Imagens</a></li>
              <li><a href="#">Agenda dos Ministros</a></li>
            </ul>
          </div>
        </div>

        <div id="noticias-pagina-interna-wrapper" class="col-xs-12 col-sm-9 col-lg-10 row m-0 p-xs-0 m-t-24 m-b-24 p-sm-8 __borda-l-cinza-claro">
          <div id="noticias-pagina-interna" class="noticias p-l-40 p-r-40 p-l-xs-0 p-r-xs-0">
            <div class="noticia m-0 row">
              <div class="col-xs-12 col-md-12 p-0 p-l-xs-16 p-r-xs-16">
                <div class="card-secao hidden-xs col-xs-12 p-l-8 m-b-24"><a href="#">Notícias</a></div>
                <h3 class="noticia-titulo">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</h3>
                <p class="noticia-resumo m-b-24">Confira os temas dos processos pautados para julgamento às 14h, no STF. Transmissão via TV Justiça, Radio Justiça e Youtube</p>
                <div class="noticia-data m-b-24"><span class="hora-atualizacao">30/05/2017 11h50</span> - Atualizado há <span class="intervalo-atualizacao"></span></div>
                <hr class="visible-xs" />
                <div class="card-compartilhar hidden-xs p-8 m-b-16 p-r-16">
                  <div class="impressao">
                    <button id="noticia-interno-imprimir-superior" type="button" class="btn btn-default" onclick="print()" aria-label="Imprimir">
                      <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="visualizacoes pull-right">
                    12.234 pessoas já viram isso
                  </div>
                </div>

                <div class="noticia-imagem-xs text-center">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-conteudo p-l-8 p-r-8 m-t-16">
                  <p>O Supremo Tribunal Federal (STF), em votação no Plenário Virtual, reafirmou jurisprudência dominante no sentido de que a atribuição do Ministério Público Federal não exclui a legitimidade dos Ministérios Públicos dos estados e do Distrito Federal para postular em causas que, sendo de sua atribuição na origem, foram encaminhadas ao Supremo e ao Superior Tribunal de Justiça (STJ). A matéria, discutida no Recurso Extraordinário (RE) 985392, teve repercussão geral reconhecida.</p>
                  <p>No caso concreto, o STJ negou a legitimidade do Ministério Público do Estado do Rio Grande do Sul (MPE-RS) para oferecer razões em habeas corpus contra ato do Tribunal de Justiça gaúcho (TJ-RS). Em seguida, negou a legitimidade do MPE-RS para interpor embargos de declaração. Com isso, as razões do Ministério Público estadual não foram ouvidas.</p>
                </div>
                <div class="noticia-processo-relacionado pull-right">
                  <div class="rotulo"><h4>Processo relacionado: <span class="numero"><a href="http://www.stf.jus.br/portal/processo/pesquisarProcesso.asp" target="_blank"> AI 201.254</a></span></h4></div>
                </div>
              </div>
            </div>
          </div>

          <div id="mais-noticias" class="mais-noticias card card-sem-sombra p-t-18 p-l-40 p-r-40 p-l-xs-0 p-r-xs-0">
            <div id="noticias">
              <div class="card-titulo">Mais notícias</div>
              <div class="card-conteudo m-0 m-t-16 m-b-16 p-0">
                <div class="card-lt-md card-xs noticia m-0 m-b-24 hidden-xs hidden-sm row">
                  <div class="noticia-imagem col-md-6 col-lg-5 p-0">
                    <img src="//fakeimg.pl/330x190/" alt="">
                  </div>
                  <div class="noticia-chamada col-md-6 col-lg-7 p-0">
                    <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF <span class="noticia-data">·</span><span class="noticia-data">Há 3 minutos</span></div>
                    <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                    <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                    <div class="noticia-compartilhar p-l-16 m-t-32">
                      <div class="facebook">
                        <a href="#" class="text-hide"></a>
                      </div>
                      <div class="twitter">
                        <a href="#" class="text-hide"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-conteudo m-8 visible-xs visible-sm row">
                  <div class="card-lt-md card-xs noticia col-xs-12 col-md-6 p-0 m-0">
                    <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF </div>
                    <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                    <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                    <div class="mais-noticias-imagem-xs">
                      <img src="//fakeimg.pl/330x190/" alt="">
                    </div>
                    <div class="noticia-data-xs p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
                  </div>
                </div>
                <div class="card-conteudo m-8 visible-xs row">
                  <div class="card-lt-md card-xs noticia col-xs-12 col-md-6 p-0 m-0">
                    <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF </div>
                    <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                    <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                    <div class="mais-noticias-imagem-xs">
                      <img src="//fakeimg.pl/330x190/" alt="">
                    </div>
                    <div class="noticia-data-xs p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="ver-todas-noticias" class="row visible-xs visible-sm col-xs-12 m-0 m-b-40 m-t-16 p-0">
            <div class="col-md-8 col-xs-12 p-0 p-l-8 p-r-8">
              <a href="#" class="btn btn-default-bordered btn-raised btn-upper btn-fluid">veja todas</a>
            </div>
          </div>

        </div>

      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>
  </div>
</body>
</html>
