<div id="repercussao-geral" class="card m-b-48">
    <div class="card-titulo-alternativo">
            <span class="card-titulo-alternativo-span"> Colunas</span>                
        </div>
    <div class="card-conteudo row m-0 m-t-16 b-b-16 p-">
            <ul class="card-media-lista col-md-6">
                <li class="media-lista-item row p-0 m-b-16">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/noticias/historia.jpg') %>"  alt="">
                    </div>
                    <div class="expressas col-xs-8 p-0">
                        <div class="m-b-8">
                            <h4 class="m-0"><strong>Assassinato de arquiduque culmina em conflito mundial</strong></h4>
                        </div>
                        <div class="expressa-data">27 de junho de 2017</div>
                    </div>
                </li>
    
                <li class="media-lista-item row p-0">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/noticias/liberdade.jpg') %>"  alt="">
                    </div>
                    <div class="expressas col-xs-8 p-0">
                        <div class="m-b-8">
                            <h4 class="m-0"><strong>Pílulas da Língua: Liberdade ainda que tardia</strong></h4>
                        </div>
                        <div class="expressa-data">26 de junho de 2017</div>
                    </div>
                </li>
            </ul>
            <ul class="card-media-lista col-md-6">
                <li class="media-lista-item row p-0 m-b-16">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/noticias/question-mark.jpg') %>"  alt="">
                    </div>
                    <div class="expressas col-xs-8 p-0">
                        <div class="m-b-8">
                            <h4 class="m-0"><strong>Papo Cabeça: E se você parasse de perguntar "e se..." para ...</strong></h4>
                        </div>
                        <div class="expressa-data">27 de junho de 2017</div>
                    </div>
                </li>
    
                <li class="media-lista-item row m-0 p-0">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/noticias/click.jpg') %>"  alt="">
                    </div>
                    <div class="expressas col-xs-8 p-0">
                        <div class="m-b-8">
                            <h4 class="m-0"><strong>José Martins registrou o museu do Centro de Lançamento da Barreira...</strong></h4>
                        </div>
                        <div class="expressa-data">27 de junho de 2017</div>
                    </div>
                </li>
            </ul>
    </div>
</div>