$stfPreto: #041A29;
$stfCinzaEscuroMenu: #333333;
$stfCinzaEscuro: #666;
$stfCinza: #ababab;
$stfCinzaClaro: #efefef;
$stfCinzaBackground: rgba(0,0,0,0.05);
$stfBranco: #fff;
$stfBrancoAlfa15: rgba(255,255,255,0.15);
$stfBrancoAlfa40: rgba(255,255,255,0.4);
$stfBrancoAlfa80: rgba(255,255,255,0.8);
$stfAzul: #056bb3;
$stfAzulEscuro: #006998;
$stfAzulMenu: #004977;
$stfAzulHover: #0286c5;
$stfAzulEscuroAlfa60: rgba(0, 105, 152, 0.6);
$stfAzulEscuroAlfa10: rgba(0, 105, 152, 0.15);
$stfAzulClaro: #00A7E6;
$stfAzulCinza: #EDF4FC;
$stfVerde: #169316;
$stfVerdeEscuro: #417505;
$stfVerdeClaro: #EFF3E9;
$stfAmarelo: #F0AD4E;
$stfAmareloClaro: #FEFCDE;
$stfVermelho: #D0021B;
$stfVermelhoClaro: #FCEEF0;
$stfAzulQlik: rgb(68, 119, 170);
$intranetLilas: #8224e3;
$intranetAmarelo: #dd9933;
$intranetVerde: #60912d;
$intranetAzul: #1e73be;
$intranetAzulClaro: #4db2ec;
$intranetAzulAlt: #147091;
$intranetAzulClaroAlt: rgba(30,115,190,0.7);
$intranetPreto: #111111;




