<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body class="pagina-interna">
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa-lista.html %>


    <section id="conteudo" class="container-fluid m-0 p-0 m-r-8 m-l-8">
      <div class="row container center-block p-0">
        <!--Menu Lateral-->
        <div class="col-xs-12 col-sm-3 col-lg-2 p-16 p-xs-0 m-0">
          <div class="menu-lateral hidden-xs">
            <h4><span class="__stf-verde">O STF</span></h4>
            <ul>
              <li><a href="#"><span class="opcao-selecionada">Conheça o STF</span></a>
                <ul>
                  <li><a href="#"><span class="opcao-selecionada">Institucional</span></a></li>
                  <li><a href="#">Visitação ao STF</a></li>
                </ul>
              </li>
              <li><a href="#">Ministros</a></li>
              <li><a href="#">Histórico</a></li>
              <li><a href="#">Quem é quem</a></li>
              <li><a href="#">Programas e ações</a></li>
              <li><a href="#">Gestão</a></li>
            </ul>
          </div>
        </div>

        <div id="texto-pagina-interna-wrapper" class="col-xs-12 col-sm-9 col-lg-10 row m-0 p-xs-0 m-t-24 m-b-24 p-sm-8 __borda-l-cinza-claro">
          <div id="texto-pagina-interna" class="p-l-40 p-r-40 m-b-40 p-l-xs-0 p-r-xs-0">
            <div class="texto m-0 row">
              <div class="col-xs-12 col-md-12 p-0 p-l-xs-16 p-r-xs-16">
                <div class="card-secao breadcrum hidden-xs col-xs-12 p-l-8 m-b-24">
                  <span><a href="#">O STF</a></span>
                  <span><a href="#">Conheça o STF</a></span>
                  <span>Institucional</span>
                </div>
                <h3 class="texto-titulo m-b-24">Institucional</h3>
                <div class="texto-gestor"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Gestor: ASSESSORIA DE GESTÃO ESTRATÉGICA</div>
                <div class="texto-data m-b-24"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Última atualização: <span class="data-atualizacao">2017-02-24</span></div>
                <hr class="visible-xs" />
                <div class="card-compartilhar hidden-xs p-8 m-b-16 p-r-16">
                  <div class="impressao">
                    <button id="texto-interno-imprimir-superior" type="button" class="btn btn-default" onclick="print()" aria-label="Imprimir">
                      <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="visualizacoes pull-right">
                    12.234 pessoas já viram isso
                  </div>
                </div>

                <div class="texto-imagem-xs text-center">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="texto-conteudo p-l-8 p-r-8 m-t-16">
                  <p>O Supremo Tribunal Federal é o órgão de cúpula do Poder Judiciário, e a ele compete, precipuamente, a guarda da Constituição, conforme definido no art. 102 da Constituição da República.</p>
                  <p>É composto por onze Ministros, todos brasileiros natos (art. 12, § 3º, inc. IV, da CF/1988), escolhidos dentre cidadãos com mais de 35 e menos de 65 anos de idade, de notável saber jurídico e reputação ilibada (art. 101 da CF/1988), e nomeados pelo Presidente da República, após aprovação da escolha pela maioria absoluta do Senado Federal (art. 101, parágrafo único, da CF/1988).</p>
                  <p>Entre suas principais atribuições está a de julgar a ação direta de inconstitucionalidade de lei ou ato normativo federal ou estadual, a ação declaratória de constitucionalidade de lei ou ato normativo federal, a arguição de descumprimento de preceito fundamental decorrente da própria Constituição e a extradição solicitada por Estado estrangeiro.</p>
                  <p>Na área penal, destaca-se a competência para julgar, nas infrações penais comuns, o Presidente da República, o Vice-Presidente, os membros do Congresso Nacional, seus próprios Ministros e o Procurador-Geral da República, entre outros (art. 102, inc. I, a e b, da CF/1988).</p>
                </div>
              </div>
            </div>
          </div>

          <div class="hidden-xs hidden-sm p-l-40 p-r-40">
            <h4 id="pergunta-informacao-util" class="pull-left">Essa informação foi útil?</h4>
            <button id="texto-informacao-util-sim" class="btn btn-default-bordered btn-raised m-l-8" type="button" href="#">Sim</button>
            <button id="texto-informacao-util-nao" class="btn btn-default-bordered btn-raised m-l-8" type="button" href="#">Não</button>
            <a id="texto-sugerir-correcao" class="btn btn-default-bordered btn-raised m-l-8" type="button" href="mailto:novoportal@stf.jus.br">Sugerir correção</a>
            <div id="texto-informacao-util-agradecimento" class="msgm-agradecimento" style="display: none;">
                <h4>Obrigado pela sua colaboração.</h4>
            </div>
          </div>
        </div>

      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>
  </div>
</body>
</html>
