#header {
  background: $stfBranco;
  border: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
  margin: 0;

  .menu-institucional {
    line-height: 50px;
  }

  &.navbar {
    .navbar-header {
      .navbar-brand {
        height: 50px;
        padding: 10px 0;
      }

      .navbar-toggle {
        background: $stfAzul;
        border: 1px solid $stfAzulEscuro;
        border-radius: 0;
        color: $stfBranco;
        height: 30px;
        line-height: 30px;
        margin: 10px 0;
        padding: 0;
        width: 32px;
        .icon-bar {
          background: $stfBranco;
          margin: 4px auto;
          width: 16px;
        }
      }
    }

    .navbar-collapse {
      border: 0;
    }
  }

  .nav {
    > li {
      > a {
        color: $stfAzulMenu;
        padding: 15px 8px;
        @media (min-width: $breakpointPhones) and (max-width: $breakpointMediumDevices - 1) {
          font-size: 0.75rem;
          padding-left: 6px;
          padding-right: 6px;
        }
      }
      > a:hover {
        color: $stfCinzaEscuro;
      }
    }
  }

  .container-dropdown-lateral {
    position: relative;

    .dropdown-lateral {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

  .dropdown-menu li a {
      color: $stfPreto;
  }
  .dropdown-menu li a:hover {
    background-color: $stfCinza;
    color: $stfAzulCinza;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  visibility: hidden;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  visibility: visible;
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}