#mapa-do-site {
  background: $stfCinzaBackground;
  padding: 16px;
  @include card-box-shadow();

  @media all and (min-width: $breakpointMediumDevices) {
    .col-md-20p{
      width: 20%;
    }
  }

  .lista-links {
    border-left: 2px dotted $stfAzulEscuroAlfa60;
    color: $stfAzul;
    margin: 16px;
    padding-left: 8px;

    h4 {
      background: $stfAzulEscuroAlfa10;
      color: $stfAzul;
      padding:5px 10px
    }
    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: inherit;
      font-size: 0.875rem;
    }
  }
}
