.menu-lateral {
  h4 {
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0; 

    li {
      margin: 8px 0;

      .opcao-selecionada {
        font-weight: bold;
      }

      ul {
        margin-left: 16px;
      }
    }
  }
}